<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.faq.mapper.FaqMapper">
    <resultMap id="faqMap" type="org.scoula.faq.domain.FaqVo">
        <id property="faqId" column="faq_id"/>
        <result property="category" column="category"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="getAllFaqs" resultMap="faqMap">
        SELECT *
        FROM faq
    </select>

    <select id="getFaqById" resultMap="faqMap">
        SELECT *
        FROM faq
        WHERE faq_id = #{faqId}
    </select>
</mapper>